@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box;
  text-decoration: none;*/
}

/* page content */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin: 200px 100px;
}
.card {
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 50px 5px;
  padding: 2em 5em;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}
button {
  margin-top: 2em;
  padding: 10px;
  width: 90px;
  background: darkblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.5),
    inset 0 -2px 3px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.9);
}
button:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* breakpoint - tablet */
@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin: 150px 50px;
  }
}

/* breakpoint - mobile */
@media only screen and (max-width: 320px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 100px 25px;
  }
}
